/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  font-family: 'Roboto Slab', serif;

}

 body {
  top:0;
  background-image : url(./images/background.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  margin: 0;
  margin-top:-20px;
  padding: 0;
}
p{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

h1 {
  font-size: 50px;
  font-family: 'Oleo Script', cursive;
  margin:10px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.sub-body {
  display:flex;
  flex-direction: column;
}



.navbar {
  position:sticky;
  top: -10px;
  background: rgba(256, 256, 256,0.8 );
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128,0.1 );
}

.right-nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}
.filter-box {
  padding:20px;
  position:fixed;
  border: solid rgba(128, 128, 128,0.1 );
  background: white;
  width:20%;
  height:100%;
}


.cards-domain {
  background-color: rgba(128,128,128,0.3);
  display:table;
  padding:10px;
  border-radius:40px;
}
